<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ htmlTitle( title ) }} </title>

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">
{% block header %}
    <header class="bg-dark text-light">
        <div class="container d-flex justify-content-between py-3">
            <div>
                {% block logo %}
                    <a href="{{ route('home') }}">
                        <img src="{{ asset( 'img/logo.png' ) }}" alt="">
                        <span>{{ siteFullName() }}</span>
                    </a>
                {% endblock %}
            </div>

            <div>
                {% block top_links %}{% endblock %}
            </div>
        </div>
    </header>
{% endblock %}

<main class="flex-grow-1 bg-light">
    <div class="d-flex justify-content-between py-3 px-5 bg-secondary text-light">
        {% block user_menu %}{% endblock %}
        <div class="flex-grow-1"></div>
        {% block renter_menu %}{% endblock %}
    </div>
    <div class="container py-3">
        {% block content_header %}
            <h1>{{ title }}</h1>
        {% endblock %}

        {% block sort_btn %}

        {% endblock %}

        {% block content %}

        {% endblock %}
    </div>
</main>

<footer class="bg-secondary text-light">
    <div class="d-flex justify-content-around">
        <a href="{{ route( 'home' ) }}" class="btn btn-dark m-3 col-2">Accueil</a>
        <a href="{{ route( 'about-us' ) }}" class="btn btn-dark m-3 col-2">A propos de nous</a>
        <a href="{{ route( 'terms-of-use' ) }}" class="btn btn-dark m-3 col-2">Conditions générales</a>
        <a href="{{ route( 'legal-mentions' ) }}" class="btn btn-dark m-3 col-2">Mentions légales</a>
    </div>
    <div class="container py-3">
        Copyright &copy;2019 - ERN
    </div>
</footer>

<script src="{{ asset( 'vendor/jquery/jquery-3.4.1.min.js' ) }}"></script>
<script src="{{ asset( 'vendor/bootstrap/bootstrap.bundle.min.js' ) }}"></script>
</body>
</html>